.app
  .settings
    margin-top: 10px

    label.checkbox
      margin-top: 10px


  .solving
    p
      margin: 0
      font-size: 14px

    .label
      display: inline-block
      margin: 5px 5px 5px 0px

    .stats .label
      float: right
      font-size: 14px

    table
      font-size: 14px

    .pagination-plain > li
      display: inline-block